<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <img src="../../assets/aboutus2.jpg" style="width: 100%; height: auto;" alt="About Us">
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p>Digi Solutions Decision Support System assists student to make the best decision without
        having to go around in circle. students can search for specific courses from any registered
        higher learning institutions, compare courses and check if they qualify for a course of their
        choice, and get access to the information regarding the varsity that provides the course. This
        process helps student to start applying before the applications closes. The system give access to
        relevant information based on search which involves the student providing authentic matric results.
        The system allows student to print out the search results for future reference. Our system does
        not only provide intelligent services but saves time and costs by providing the user with instant
        results. When a user searches for product and services online they first need to go around circles
        before finding the best or suitable results. This comes with wasting time and, unnecessary data
        usage, user confusion and/or frustration. Also, selecting the best amongst the rest is not always
        easy, that’s where our system comes to play. The system also provides </p>
    </div>
    <div class="col-6">
      <img src="../../assets/img_2.jpg" style="width: 100%; height: auto;" alt="About Us">
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          <h3>Our mission</h3>
          <p>We are thriving to expand the system to serve decision support across international
            institutes, bursaries, travels, events, entertainment banks and.</p>
        </div>
        <div class="col-12">
          <h3>Our vision</h3>
          <p>eliminate the struggle of accessing the relevant information and making the best
            decision regardless of your geographical location.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center text-white"
    style="min-height: 90px; background-color: grey; margin-top: 20px; padding-top: 20px">
    <p>All rights reserved</p>
  </div>
</div>