.logo {
    width: 180px;
    height: auto;
    border-radius: 50%;
}
#navbarNavDropdown {
    float: right!important;
}
.fa {
    margin-right: 10px;
}

.navbar-right {
    padding-right: 40px!important;
}