<app-header></app-header>
<img src="../../assets/searching1.jpg" alt="Search" style="width: 100%; height: auto">

<div class="container-fluid" style="margin-top: -400px;">
  <div *ngIf="!isResults" class="row">
    <div class="col-md-6 col-sm-12">
      <form class="row" style="line-height: 20%" #f="ngForm" (ngSubmit)="onSubmit(f);" novalidate>
        <h3 class="text-center col-12"><u>Extra Details</u></h3>
        <div class="form-group col-12">
          <label for="exampleFormControlInput1">Email address: <span>{{ email.value }}</span></label>
          <input [class.danger]="(email.touched && !email.valid) || (!email.valid && submit)" name="email" ngModel
            required #email="ngModel" type="email" class="form-control" id="exampleFormControlInput1"
            placeholder="name@example.com" email>
        </div>
        <div class="form-group col-12">
          <label for="exampleFormControlSelect1">Certificate Type:</label>
          <select [class.danger]="(certType.touched &&!certType.valid) || (!certType.valid && submit)" name="certType"
            [(ngModel)]="certificateid" required #certType="ngModel" class="custom-select form-control"
            id="exampleFormControlSelect1">
            <option [ngValue]="certificate" disabled selected hidden>Select a certificate</option>
            <option *ngFor="let certificate of certificates" [ngValue]="certificate">{{certificate}}</option>
          </select>
        </div>

        <div class="form-group col-md-8 col-sm-12">
          <label for="exampleFormControlSelect1">Subject Name</label>
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-book"></i></span>
            <select [class.danger]="(subject1.touched && !subject1.valid) || (!subject1.valid && submit)"
              name="subject1" [(ngModel)]="subject1id" required #subject1="ngModel" class="form-control"
              id="exampleFormControlSelect1">
              <option [ngValue]="subject" disabled selected hidden>Select a subject</option>
              <option *ngFor="let subject1 of subjects" [ngValue]="subject1">{{subject1}}</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-4 col-sm-12 mb-3">
          <label for="exampleFormControlSelect1">Marks</label>
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-percent"></i></span>
            <input [class.danger]="(mark1.touched && !mark1.valid) || (!mark1.valid && submit)" type="text" name="mark1"
              ngModel required #mark1="ngModel" class="form-control" id="marks1" placeholder="e.g. over/100">
          </div>
        </div>

        <div class="form-group col-md-8 col-sm-12">
          <label for="exampleFormControlSelect1">Subject Name</label>
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-book"></i></span>
            <select [class.danger]="(subject2.touched && !subject2.valid) || (!subject2.valid && submit)"
              name="subject2" [(ngModel)]="subject2id" required #subject2="ngModel" class="form-control"
              id="exampleFormControlSelect1">
              <option [ngValue]="subject" disabled selected hidden>Select a subject</option>
              <option *ngFor="let subject2 of subjects" [ngValue]="subject2">{{subject2}}</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-4 col-sm-12 mb-3">
          <label for="exampleFormControlSelect1">Marks</label>
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-percent"></i></span>
            <input [class.danger]="(mark2.touched && !mark2.valid) || (!mark2.valid && submit)" name="mark2" ngModel
              required #mark2="ngModel" class="form-control" id="marks" placeholder="e.g. over/100">
          </div>
        </div>

        <div class="form-group col-md-8 col-sm-12">
          <label for="exampleFormControlSelect2">Subject Name</label>
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-book"></i></span>
            <select [class.danger]="(subject3.touched && !subject3.valid) || (!subject3.valid && submit)"
              name="subject3" [(ngModel)]="subject3id" required #subject3="ngModel" class="form-control"
              id="exampleFormControlSelect1">
              <option [ngValue]="subject" disabled selected hidden>Select a subject</option>
              <option *ngFor="let subject3 of subjects" [ngValue]="subject3">{{subject3}}</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-4 col-sm-12 mb-3">
          <label for="exampleFormControlSelect1">Marks</label>
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-percent"></i></span>
            <input [class.danger]="(mark3.touched && !mark3.valid) || (!mark3.valid && submit)" name="mark3" ngModel
              required #mark3="ngModel" class="form-control" id="marks" placeholder="e.g. over/100">
          </div>
        </div>

        <div class="form-group col-md-8 col-sm-12">
          <label for="exampleFormControlSelect1">Subject Name</label>
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-book"></i></span>
            <select [class.danger]="(subject4.touched && !subject4.valid) || (!subject4.valid && submit)"
              name="subject4" [(ngModel)]="subject4id" required #subject4="ngModel" class="form-control"
              id="exampleFormControlSelect1">
              <option [ngValue]="subject" disabled selected hidden>Select a subject</option>
              <option *ngFor="let subject4 of subjects" [ngValue]="subject4">{{subject4}}</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-4 col-sm-12 mb-3">
          <label for="exampleFormControlSelect1">Marks</label>
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-percent"></i></span>
            <input [class.danger]="(mark4.touched && !mark4.valid) || (!mark4.valid && submit)" name="mark4" ngModel
              required #mark4="ngModel" class="form-control" id="marks" placeholder="e.g. over/100">
          </div>
        </div>

        <div class="form-group col-md-8 col-sm-12">
          <label for="exampleFormControlSelect1">Subject Name</label>
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-book"></i></span>
            <select [class.danger]="(subject5.touched && !subject5.valid) || (!subject5.valid && submit)"
              name="subject5" [(ngModel)]="subject5id" required #subject5="ngModel" class="form-control"
              id="exampleFormControlSelect1">
              <option [ngValue]="subject" disabled selected hidden>Select a subject</option>
              <option *ngFor="let subject5 of subjects" [ngValue]="subject5">{{subject5}}</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-4 col-sm-12 mb-3">
          <label for="exampleFormControlSelect1">Marks</label>
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-percent"></i></span>
            <input [class.danger]="(mark5.touched && !mark5.valid) || (!mark5.valid && submit)" name="mark5" ngModel
              required #mark5="ngModel" class="form-control" id="marks" placeholder="e.g. over/100">
          </div>
        </div>

        <div class="form-group col-md-8 col-sm-12">
          <label for="exampleFormControlSelect1">Subject Name</label>
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-book"></i></span>
            <select [class.danger]="(subject6.touched && !subject6.valid) || (!subject6.valid && submit)"
              name="subject6" [(ngModel)]="subject6id" required #subject6="ngModel" class="form-control"
              id="exampleFormControlSelect1">
              <option [ngValue]="subject" disabled selected hidden>Select a subject</option>
              <option *ngFor="let subject6 of subjects" [ngValue]="subject6">{{subject6}}</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-4 col-sm-12 mb-3">
          <label for="exampleFormControlSelect1">Marks</label>
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-percent"></i></span>
            <input [class.danger]="(mark6.touched && !mark6.valid) || (!mark6.valid && submit)" name="mark6" ngModel
              required #mark6="ngModel" class="form-control" id="marks" placeholder="e.g. over/100">
          </div>
        </div>

        <div class="text-right" style="width: 100%;">
          <button type="submit" class="btn btn-success" (click)="isResults = f.valid; onSubmit(f)"
            style="margin: 20px;">Search</button>
        </div>

      </form>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center"><u>Note</u></h3>
      <p>
        Applicants will need to meet the minimum APS in order to be considered for a
        specific programme. Generally, you get points for each matric subject you
        write that you write an exam for.</p>

      <p> This system calculate you APS before doing the search. </p>

      <p> The system calculate APS by add your six best subjects, excluding Life Orientation.
        The points you get for each subject will depend on the percentage you score in that
        particular subject. The APS score is the total points you receive from each subject.</p>
      <p>
        Please note: meeting the bare minimum requirement is not always enough to get you
        into your desired degree programme, so push hard to get the highest marks you possibly can.
      </p>
    </div>
  </div>
  <div *ngIf="isResults">
    <div style="background-color: white!important; opacity: 1; z-index: 2; position: relative;">
      <h2>Your search criteria</h2>
      <p>MATRIC CERTIFICATE TYPE: {{ form.certType}}<p>
        <p>YOUR APS SCORE: {{(score(form.mark1) + score(form.mark2) + score(form.mark3) +
          score(form.mark4) + score(form.mark5) + score(form.mark6)) }}
        </p>
      <table class="table">
        <thead>
          <tr>
            <th>Subject Name : {{form}}</th>
            <th>Subject Mark (%)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{form.subject1}}</td>
            <td>{{form.mark1}}</td>
          </tr>
          <tr>
            <td>{{form.subject2}}</td>
            <td>{{form.mark2}}</td>
          </tr>
          <tr>
            <td>{{form.subject3}}</td>
            <td>{{form.mark3}}</td>
          </tr>
          <tr>
            <td>{{form.subject4}}</td>
            <td>{{form.mark4}}</td>
          </tr>
          <tr>
            <td>{{form.subject5}}</td>
            <td>{{form.mark5}}</td>
          </tr>
          <tr>
            <td>{{form.subject6}}</td>
            <td>{{form.mark6}}</td>
          </tr>
        </tbody>
      </table>
      <div class="text-right" style="width: 100%;">
          <a class="nav-link text-danger" href="/app"><button type="button" class="btn btn-success" (click)="isResults = false" style="margin: 20px;">Done</button></a>
      </div>
    </div>
  </div>

  <div class="text-center text-white"
    style="min-height: 90px; background-color: grey; margin-top: 20px; padding-top: 20px">
    <p>All rights reserved</p>
  </div>
</div>